<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.stopudov.stopudovshop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kg.stopudov.stopudovshop.MainActivity"
            android:label="@string/shop_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kg.stopudov.stopudovshop.ProductList"
            android:label="@string/title_activity_product_list" >
        </activity>
        <activity
            android:name="kg.stopudov.stopudovshop.ContactsActivity"
            android:label="Наши контакты" >
        </activity>
        <activity
            android:name="kg.stopudov.stopudovshop.ProductDetails"
            android:label="@string/title_activity_product_details" >
        </activity>
        <activity
            android:name="kg.stopudov.stopudovshop.CartActivity"
            android:label="@string/title_activity_cart" >
        </activity>
        <activity
            android:name="kg.stopudov.stopudovshop.ContactDetails"
            android:label="@string/title_activity_contact_details" >
        </activity>
    </application>

</manifest>
